/*
 loading gif
*/

.loader {
    animation: loader 3s linear infinite;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

@keyframes loader {
    0% {
        left: -100px
    }
    100% {
        left: 110%;
    }
}

#box {
    width: 50px;
    height: 50px;
    background: rgb(110, 108, 108);
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

#shadow {
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

@keyframes shadow {
    50% {
        transform: scale(1.2, 1);
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
        visibility: visible;
    }
}


/* .loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
} */

.footer-loading {
    display: none;
}

.loader.hidden {
    animation: fadeOut 1s;
    display: none;
}

.loading {
    display: none;
}

.loader {
    animation: fadeIn 2s;
    display: visible;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "Windsor";
    src: url("./assets/Windsor\ Regular.ttf") format("truetype");
}

body {
    --text-color: black;
    --bg-color: #e1daca;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    animation: slidein 1.5s;
}


/*
Body
*/

main {
    animation: fadeIn 2s;
    display: flex;
    width: 90%;
    margin: auto;
    height: 90vh;
    align-items: flex-start;
}


/*
First container contains title
*/

.title {
    position: relative;
    flex: 0.7;
    margin-top: 7%;
    margin-right: 0;
}

h4 {
    font-family: "Windsor";
    font-weight: 600;
    font-size: 70px;
    line-height: 80%;
    color: black;
}

.week {
    margin-top: 35px;
    font-weight: 100;
}

.youtube {
    margin-top: 5%;
    margin-bottom: 2%;
}


/*
Second container has cover image
*/

.background {
    flex: 0.9;
    margin-top: 5%;
    margin-left: 1%;
}

.background img {
    height: 75vh;
}


/*
Third container contains sound choice with volume control
*/

.player {
    flex: 0.7;
    margin-top: 25vh;
    height: 50vh;
    padding-left: 1%;
}

.sound {
    justify-content: space-around;
    list-style: none;
}

.sound-item {
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 8%;
}


/*
Each sound item
*/

.description {
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
}

.description .fa {
    margin-left: 10px;
    margin-top: 5px;
    font-size: small;
}

.fa-play:hover {
    cursor: pointer;
}

.fa-pause:hover {
    cursor: pointer;
}

.fa-volume:hover {
    cursor: pointer;
}


/*
volume-controls
*/

.volume {
    display: flex;
    flex-direction: row;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: var(--bg-color);
    width: 60%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 50px;
    height: 2px;
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: black;
    color: black;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

.volume .fa-volume {
    margin-right: 5%;
}

.volume .fa-volume-mute {
    margin-right: 5%;
}


/*
footer
*/

.footer {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
}

.footer .fa-heart {
    color: rgb(211, 130, 143);
}

a {
    color: black;
}


/*
brand
*/

.brand {
    text-decoration: none;
    /* color: rgb(211, 130, 143); */
    font-weight: 600;
    color: black;
}


/*
animation
*/

@keyframes drop {
    0% {
        opacity: 0;
        transform: translate(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(50px);
    }
}

@keyframes slidein {
    from {
        margin-left: 50%;
        width: 200%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}


/*
Make it Mobile Friendly
*/

@media screen and (max-width: 1024px) {
    /* main {
        display: none;
    } */
    main {
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }
    .title {
        padding-bottom: 10px;
    }
    .background img {
        margin: none;
        width: 100%;
        height: 80%;
        flex: 1
    }
    .title {
        flex: 1%
    }
    .player {
        margin-top: 20px;
        flex: 1;
    }
    .footer {
        position: absolute;
    }
    .footer p {
        font-size: 12px;
    }
    .embed {
        position: absolute;
    }
}